body {
    background-color: #4aaaa5;
    /* background-image: url("images/circles-light.png"); */
    position: relative;
}

* {
    text-align: center;
    box-sizing: border-box;
}

.first_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1100px;
    width: 960px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

    .header_container {
        display: flex;
        width: 960px;
        height: 77px;
        padding-bottom: 10px;
        justify-content: space-between;
        background-color: rgba(255,255,255,0);
    }
    
        .name_container {
            font-family: 'Times New Roman', Times, serif;
            background-color: #4aaaa5;
            width: 200px;
            height: 77px;
            padding: 13px;
            font-size: 30px;
            color: white;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }

        .button_container {
            display: flex;
            width: 365px;
            height: 77px;
            justify-content: space-between;
        }

            div[class^='topbutton'] {
                margin: 0 /*auto*/;
                padding: 20px;
                flex-grow: 1;   /* Allows the items in the container to be the same size*/
                font-size: 20px;
            }

            .topbutton_1 {
                flex: 1;
            }

            .topbutton_2 {
                flex: 2;
            }

            .topbutton_3 {
                flex: 3;
            }

            .divider {
                width: 2px;
                margin: 12px 0;
                background: gray;
                height: 40px;
            }

    .main_container {   /* Contains pretty much everything in the body */
        display: flex;
        border: 1px solid #dddddd;
        margin-top: 50px;
        width: 960px;
        background-color: green;
        height: 855px;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .main_container > section {
        padding: 10px;
    }

        .main_header {
            border-bottom: 1px solid #dddddd;
            font-size: 30px;
            text-align: left;
            font-family: 'Times New Roman', Times, serif;
            color: #4aaaa5;
        }


        .body_container {
            display: flex;
            height: 90%;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

            .main_body {    /* Where the main text is */
                border: 1px solid black;
                width: 650px;
                color: #777777;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px;
            }

            .connect {
                border: 1px solid black;
                width: 270px;
                height: 30%;
                padding: 10px;
            }

    footer {
        background-color: rgba(255,255,255,0);
        width: 300px;
        height: 50px;
        padding: 15px;
        color: #ffffff;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -150px;
        z-index: 2;
    }

.top_divider {
    height: 2px;
    background: gray;
    position: absolute;
    top: 20px;
}

.header_bar {
    height: 77px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    border: 1px solid #cccccc;
}

.footer_bar {
    height: 50px;
    background-color: #666666;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}




/* 

Flexbox Structure

first_container
    header_container
        name_container
        button_container
            topbutton_1
            divider
            topbutton_2
            divider
            topbutton_3

    main_container
        main_header
        body_container
            main_body
            connect

    footer

*/

